# {{ ansible_managed }}
[Unit]
Description=HashiCorp Vault
Documentation=https://www.vaultproject.io/docs/
Requires=network-online.target
After=network-online.target

[Service]
User={{ vault_user }}
Group={{ vault_group }}
ExecStart=/usr/bin/vault server -config={{ vault_config_dir }}
ExecReload=/bin/kill --signal HUP $MAINPID
CapabilityBoundingSet=CAP_IPC_LOCK
Capabilities=CAP_IPC_LOCK+ep
AmbientCapabilities=CAP_IPC_LOCK
NoNewPrivileges=yes
SecureBits=keep-caps
LimitNOFILE=65536
LimitMEMLOCK=infinity
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
